
.DeleteButton {

    background-color: #FFE7E7;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 0.2rem 1rem;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 0 0 1rem; 
    word-break: break-word;
  }
  
  .DeleteButton:active,
  .DeleteButton:hover,
  .DeleteButton:focus {
    outline: 0;
  }
  
  
  .DeleteButton:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }
  
  .DeleteButton:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
  }
  
  .DeleteButton:active:hover,
  .DeleteButton:focus:hover,
  .DeleteButton:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }